<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="UTF-8"> 
 <title>My Website - About</title> 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
</head> 
<body> 

<div id="picture">
<img src= "{{ url_for('static', filename='css/myface.jpg') }}"  alt="">
</div>
<div id="textbox">
 <h1>Jonoi Graham</h1> 
 <p>My name in Jonoi Graham, I am junior software engineer who attends the University of the WestIndies(UWI), I am currently a Second Year Student and hopefull at the end of this course i will gain all the knowledge given in the course to get an A+ and apply that knowledge in my projects.</p> 
</div>

</body>
</html>